<% include ../partials/header%>

<div class="container">
  <div class="row">
    <div class="col-lg-8"></div>

    <div class="col-lg-4">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">SALTS</h5>
          <p class="card-text">
            Check out all the Salts made by our users, or create one yourself!
          </p>
        </div>
        <div class="card-body">
          <a class="btn btn-rocksalt btn-block btn-xl" href="">
            CREATE SALT
          </a>
        </div>
      </div>
    </div>
  </div>
</div>

<% include ../partials/footer%>
