<% include ../partials/header%>

<div id="all-salts" class="jumbotron jumbotron-short">
  <div class="container">
    <h3 class="">Check Out All The Salts</h3>
    <p>
      <span
        >Browse the saltiest salts. Find which one you like and start
        insalting</span
      >
    </p>
  </div>
</div>

<div class="container">
  <div class="row">
    <div class="col-lg-8">
      <%salts.forEach(function(salt){%>
      <div class="card salt">
        <div class="card-header">
          <div class="row">
            <div class="salt-name col-lg-10">
              s/<%= salt.name %>
            </div>
            <div class="col-lg-1">
              <a href="#" class="btn btn-rocksalt btn-xs">Join</a>
            </div>
          </div>
        </div>
        <div class="card-body">
          <h5 class="card-title"><%= salt.slogan %></h5>
          <p class="card-text">
            <%= salt.description %>
          </p>
        </div>
      </div>
      <%})%>
    </div>

    <div class="col-lg-4">
      <div class="card mb-3">
        <div class="card-body">
          <h5 class="card-title">SALTS</h5>
          <p class="card-text">
            Check out all the Salts made by our users, or create one yourself!
          </p>
          <a class="btn btn-rocksalt btn-block btn-xl" href="/s/new">
            CREATE SALT
          </a>
        </div>
      </div>

      <div class="card title-only">
        <div class="card-body">
          <h5 class="card-title">JOINED SALTS</h5>
        </div>
        <ul class="list-group list-group-flush">
          <%for (var i = 0; i < 3; i++){%>
          <li class="list-group-item ">
            <div class="row">
              <div class="col-lg-8">
                USAPresident
              </div>
              <div class="col-lg-4">
                <a href="#" class="btn btn-rocksalt btn-xs">Leave</a>
              </div>
            </div>
          </li>

          <%}%>
        </ul>
      </div>
    </div>
  </div>
</div>

<% include ../partials/footer%>
