<% include ./partials/header %>

<div id="salt-of-the-day" class="jumbotron text-center">
  <h1 class="display-4 mb-3">Insalt of the Day</h1>
  <p class="lead">
    <span>" Yo mama so dumb, she had a car accident in a parking lot "</span>
  </p>
</div>

<div class="container">
  <div class="row">
    <div class="col-lg-8">
      <% for (var i = 0; i < 8; i++){ %>
      <div class="card post">
        <div class="card-body">
          <h5 class="card-title">s/OldPeople</h5>
          <p class="card-text">
            Without someone ugly in this world, there would be nothing beautiful
          </p>
          <a href="#" class="card-link text-danger">Roast Salt</a>
        </div>
      </div>
      <%} %>
    </div>

    <div class="col-lg-4">
      <div class="card mb-3">
        <div class="card-body">
          <h5 class="card-title">SALTIEST SALTS</h5>
          <p class="card-text"></p>
        </div>
        <ul class="list-group list-group-flush">
          <% for (var i = 0; i < 5;i++){ %>
          <li class="list-group-item">
            Lorem ipsum dolor sit amet. <%}%>
          </li>
        </ul>
        <div class="card-body">
          <button class="btn btn-rocksalt btn-block">
            VIEW ALL
          </button>
        </div>
      </div>

      <div class="card">
        <div class="card-body">
          <h5 class="card-title">HOME</h5>
          <p class="card-text">
            Your personal InSalt homepage, come here to check on insults from
            your favorite salts
          </p>
        </div>
        <div class="card-body">
          <button class="btn btn-rocksalt btn-block mb-3">
            CREATE POST
          </button>
          <button class="btn btn-outline-rocksalt btn-block btn-xl">
            CREATE COMMUNITY
          </button>
        </div>
      </div>
    </div>
  </div>
</div>

<% include ./partials/footer %>
