<% include ./partials/header %>

<div id="salt-of-the-day" class="jumbotron text-center">
  <h1 class="display-4 ">Salt of the Day</h1>
  <p class="lead">
    Yo mama so dumb, she had a car accidents in a parking lot
  </p>
</div>

<div class="row"></div>

<% include ./partials/footer %>
