:root {
  --rock-salt: rgb(182, 78, 31);
}

body {
  background: rgb(213, 217, 223);
  font-family: "Montserrat", sans-serif;
}

a.post-link,
a.post-link:hover,
a.post-link:visited,
a.post-link:active {
  color: inherit;
  text-decoration: none;
}

a.post-link-nested {
  color: inherit;
  text-decoration: none;
}

.post {
  margin-bottom: 1rem;
}

.post:hover {
  -moz-box-shadow: 0 0 3px var(--rock-salt);
  -webkit-box-shadow: 0 0 3px var(--rock-salt);
  box-shadow: 0 0 3px var(--rock-salt);
}

.post .post-title {
  font-weight: bold;
  font-size: 1.3rem;
  margin-bottom: 1.2rem;
}

.salt {
  margin-bottom: 1rem;
}

.salt-name {
  font-weight: bold;
  color: var(--rock-salt);
  font-size: 1.2rem;
}

.post-salt-name {
  font-weight: bold;
  color: var(--rock-salt);
  font-size: 0.95rem;
}

.post-salt-name:hover {
  font-weight: bold;
  color: var(--rock-salt);
  text-decoration: underline;
}

.title-only h5 {
  margin-bottom: 0;
}

.bg-white {
  background-color: white;
  border-bottom: 1px rgba(0, 0, 0, 0.05) solid;
}

.text-rocksalt {
  color: var(--rock-salt);
}

.text-rocksalt:hover {
  color: var(--rock-salt);
}

.bg-grey {
  background-color: grey;
}

.btn-xs {
  padding: 0.2rem 0.5rem;
  font-size: 0.8rem;
}

.btn-rocksalt {
  color: rgb(253, 253, 253);
  background-color: var(--rock-salt);
  font-weight: bold;
}

.btn-rocksalt:hover {
  color: rgb(253, 253, 253);
  background-color: rgb(233, 132, 85);
}

.btn-outline-rocksalt {
  color: var(--rock-salt);
  border-color: var(--rock-salt);
}

.btn-outline-rocksalt:hover {
  color: rgb(233, 132, 85);
  border-color: rgb(233, 132, 85);
}

.jumbotron-short {
  padding: 1rem;
  margin-bottom: 20px;
}

.jumbotron-short {
  background-image: url("https://media.istockphoto.com/photos/background-of-white-sea-salt-picture-id184342915?k=6&m=184342915&s=612x612&w=0&h=iV9PtQwXQ2lnnIP_Bvzk3UwUg37tpDS0Zzgl-3wyRW4=");
  background-color: white;
  background-size: auto;
}

.header-title {
  font-weight: bold;
  margin: 0;
  padding-bottom: 0;
  text-shadow: -1px 0 white, 0 1px white, 1px 0 white, 0 -1px white;
}

.jumbotron-short p {
  margin: 0;
}

.votes {
  font-size: 1.49rem;
}

.i-vote {
  font-size: 20px;
}

.i-vote-voted {
  color: var(--rock-salt);
}

.i-vote:hover {
  color: var(--rock-salt);
}

.comment-form {
  border: 1px solid #ccc !important;
}

.comment-form .form-group {
  margin-bottom: 0rem;
}

.comment-form .container {
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
}

.comment-text-form {
  outline: none;
  box-shadow: none !important;
  border: none;
  border-bottom: 1px solid #ccc !important;
  border-radius: 0px;
}

.comment-toolbar {
  margin: 0rem 0rem;
  border: none;
}

#icon {
  width: 25px;
  height: 25px;
}

#salt-of-the-day {
  background-color: white;
  background-image: url("https://cdn11.bigcommerce.com/s-dis4vxtxtc/images/stencil/1280x1280/products/1867/2397/image_1577__37264.1567254894.jpg?c=2?imbypass=on");
  background-size: contain;
  margin-bottom: 20px;
}

#salt-of-the-day h1 {
  font-weight: bold;
}

#salt-of-the-day span {
  font-weight: bold;
  border-radius: 100px;
  background-color: rgb(255, 255, 255);
  padding: 5px 15px;
  color: var(--rock-salt);
}

#salt-of-the-day span {
  font-weight: bold;
  border-radius: 100px;
  background-color: rgb(255, 255, 255);
  padding: 5px 15px;
  color: rgb(61, 61, 61);
}
