<% include ../partials/header %>

<div id="all-salts" class="jumbotron jumbotron-short">
  <div class="container">
    <h3 class="">Create an Insalt</h3>
    <p></p>
  </div>
</div>

<div class="container">
  <div class="row">
    <div class="col-lg-8">
      <div class="card">
        <div class="card-body">
          <form action="/s/<%=salt.name%>" method="POST">
            <div class="form-group">
              <input
                type="text"
                class="form-control"
                name="name"
                placeholder="Name"
              />
            </div>
            <div class="form-group">
              <input
                type="text"
                class="form-control"
                name="image"
                placeholder="Image"
              />
            </div>
            <div class="form-group">
              <textarea
                class="form-control"
                name="text"
                placeholder="Text (Optional)"
                rows="5"
              ></textarea>
            </div>
            <div class="form-group">
              <button class="btn btn-rocksalt">
                Create New Salt!
              </button>
            </div>
          </form>
          <a class="text-rocksalt" href="/s/<%=salt.name%>"> Go Back</a>
        </div>
      </div>
    </div>

    <div class="col-lg-4">
      <div class="card mb-3">
        <div class="card-body">
          <h5 class="card-title">INSALT CREATION RULES</h5>
          <p class="card-text"></p>

          <ul class="list-group list-group-flush">
            <% for (var i = 0; i < 5;i++){ %>
            <li class="list-group-item">
              Lorem, ipsum dolor. <%}%>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>
<% include ../partials/footer %>
